@font-face {
    font-family: sans-serif;
    src: url();
}

h1 {
    color: #242424;
    font-size: 24px;
}

h2 {
    color: #242424;
    font-size: 20px;
}

p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;;
}

ul{
    width: 40%;
    font-family: monospace;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 650px;
    border: 2px solid blue;
}

#neuquen{
    color: green;
}
#rionegro{
    color: green;
}

#neuquen{
    color: green;
}

#bsas{
    color: rgb(241, 138, 21);
}
#santacruz{
    color: rgb(241, 138, 21);
}

#tierradelfuego{
    color: rgb(241, 138, 21);
}

/* INCOMPLETO */